 <div>
    <h1>
        Foreign Exchange Rates Calculator
    </h1>
    <div>
      <mat-form-field style="width: 100%;">
          <mat-label>Select the Available Currency</mat-label>
          <mat-select (selectionChange)="onCurrencyChange($event)">
            <mat-option *ngFor="let currency of currencies" [value]="currency.code">
              {{currency.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="this.availableRates.length > 0">
      <h3>Base : {{rates?.base}}</h3>
      <h5>Date: {{rates?.date}}</h5>
    </div>
    <div *ngIf="this.availableRates.length > 0">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

        <!-- Currency Column -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef> Rate </th>
          <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      
    </div>
  <div>
